
.check{
    width:25px;
    height:25px;
}
#container{
background-color: blanchedalmond
}

.Photo {
  
    left: 0;
    top: 0;
    width: 300px;
    height:200px;
   pointer-events: none;
   opacity: .8;
    float: right;

} 
h1{
    text-align: center;
    margin: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}
h3{
    text-align: center;
    font-family: fantasy;
    

}
#checked_in{
    background-color: lightgreen;
}
#checked_out{
    background-color: rgb(255, 52, 52)
}
body,html,form {
    background-color: blanchedalmond
}
