
<h3>Add an Owner</h3>
<form>
        <p>
            <label>Add Owner
                <input type="text" ng-model="vm.newOwner.name">
            </label>
            <button ng-click="vm.addOwner(vm.newOwner)">Submit</button>
        </p>

<table class="table">
    <thead>
        <th>Owner</th>
        <th>Number of Pets</th>
        <th>Actions</th>
    </thead>
    <tbody  ng-repeat="owner in vm.petOwners.list | orderBy: '-petcount'">
        <td>{{owner.owner_name}}</td>
        <td>{{owner.petcount}}</td>
        <td>
            <button class="btn-danger" ng-click="vm.deleteOwner(owner.id)">Delete</button>
        </td>
    </tbody>

</table>