

<h1>Add a Pet!</h1>
<form>
    <p>
        <label>Name
            <input class="form-control form-group-row" ng-model="vm.newPet.name" type="text">
        </label>
        <label>Color
            <input class="form-control form-group-row" ng-model="vm.newPet.color" type="text">
        </label>
        <label>Breed
            <input class="form-control form-group-row" ng-model="vm.newPet.breed" type="text">
        </label>
        <label>
            <select class="form-control form-group-row" ng-model="vm.newPet.owner_id">
                <option disable selected value>--Select Owner--</option>
                <option ng-repeat="owner in vm.petOwners.list | orderBy: 'owner_name'" value="{{owner.id}}">{{owner.owner_name}}</option>
            </select>
        </label>
        <button class="btn-success" ng-click="vm.addPet(vm.newPet)">Submit</button>


        <br>
    </p>
    <h1>Registered Pets </h1>
    <table class="table table-hover">
        <thead>
            <th>Owner</th>
            <th>Pet Name</th>
            <th>Breed</th>
            <th>Color</th>
            <th>Checked In/Out</th>
            <th>Actions</th>
        </thead>
        <tbody ng-repeat="pet in vm.hotelPets.list | orderBy: '-checked_in'">
            <td>{{pet.owner_name}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.color}}</td>
            <td id="checked_in" ng-if="pet.checked_in">
                <span>
                    <img class="check" ng-src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQd3HD2Y2fkKAxhGdryZVkddi0p6YbLlLkK2xMZaEkVx63aD08U">
                </span>Checked IN
            </td>

            <td id="checked_out"ng-if="!pet.checked_in">
                <span>
                    <img class = "check" ng-src="https://media.fox5atlanta.com/media.fox5atlanta.com/photo/2017/02/23/xx_1487867124029_2797385_ver1.0_640_360.jpg"
                </span>Checked OUT
            </td>
            <td>
                <button class="btn-danger" ng-click="vm.deletePet(pet.pet_id)">Delete</button>
                <button ng-if="!pet.checked_in" class="btn-primary" ng-click="vm.checkIn(pet)">Check In</button>
                <button ng-if="pet.checked_in" class="btn-warning" ng-click="vm.checkIn(pet)">Check Out</button>
            </td>
        </tbody>
    </table>